# Auto-detect text files and normalize line endings to LF in the repo
* text=auto

# Force LF for specific file types
*.ts text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.css text eol=lf
*.html text eol=lf

# Binary files should not be modified by git
*.png binary
*.jpg binary
*.ico binary
*.icns binary
*.wasm binary